[Desktop Entry]
Name=Zen Browser
GenericName=Web Browser
Comment=A calmer way to browse the web
Exec=zen %u
Icon=${SNAP}/meta/gui/zen.png
Terminal=false
Type=Application
StartupNotify=true
StartupWMClass=zen
Categories=Network;WebBrowser;
Keywords=Internet;WWW;Browser;Web;Explorer;
MimeType=text/html;text/xml;application/xhtml+xml;application/xml;application/vnd.mozilla.xul+xml;application/rss+xml;application/rdf+xml;image/gif;image/jpeg;image/png;image/webp;x-scheme-handler/http;x-scheme-handler/https;x-scheme-handler/chrome;
Actions=new-window;new-private-window;profile-manager;

[Desktop Action new-window]
Name=Open a New Window
Exec=zen --new-window %u

[Desktop Action new-private-window]
Name=Open a New Private Window
Exec=zen --private-window %u

[Desktop Action profile-manager]
Name=Open the Profile Manager
Exec=zen --ProfileManager
